<!-- Wrapper Start -->
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="block">
					<div class="section-title">
						<h2>About Us</h2>
            <h4>Pioneering BIM Excellence Since 2000</h4>
						<p>At BIM Technologies, we are trailblazers in the field of Building Information Modeling (BIM). Established in 2000, our journey began with a vision to streamline construction processes and elevate project outcomes.</p>
					</div>
					<p>Our firm specializes in supporting contractors and owners throughout the design-construction-turnover process by providing BIM services at every level. We are MEP and Process Piping Specialist from Design to Fabrication and Install and have over 25 years of experience in these complex systems.</p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="block">
					<img src="images/about-us-img.jpg" alt="Img">
				</div>
			</div>
		</div>
	</div>
</section>