<section class="call-to-action bg-1 section-sm overly">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2 class="mb-3">Get In Touch</h2>
            <p>Ready to take your construction projects to the next level?<br>Contact us today to schedule a consultation or request more information.<br>Our team is here to assist you.</p>
            <a class="btn btn-main btn-solid-border" href="contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
