<section class="feature bg-2">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <h2 class="section-subtitle">Why Partner with BIM Technologies?</h2>
        <h3>Unlocking Efficiency, Precision, and Cost Savings</h3>
        <br>
        <p><strong>Industry Leaders:</strong> With years of experience, we've become a trusted name in BIM solutions.</p>
        <p><strong>Customized Approach:</strong> We tailor our services to align with your unique project requirements.</p>
        <p><strong>Cutting-Edge Technology:</strong> We stay at the forefront of BIM advancements to ensure your success.</p>
        <p><strong>Proven Results:</strong> Our portfolio showcases improved project outcomes and client satisfaction.</p>
        <p><strong>No Outsourcing:</strong> We Pride ourselves in doing all our work in-house, in America.</p>
        <a href="portfolio.html" class="btn btn-view-works">View Works</a>
      </div>
    </div>
  </div>
</section>