<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>Our Services</h2>
          <p>Comprehensive BIM Services Tailored to Your Needs</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-fork-repo"></i>
          <h4>Virtual and Augmented Reality</h4>
          <p>Our team specializes in animations, realistic materiality, and physics based lighting.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-camera"></i>
          <h4>Laser Scanning</h4>
          <p>With top of the line equipment, our technicians can quickly mobilize to scan any site and produce a field verified digital clone.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-briefcase"></i>
          <h4>Construction Administration</h4>
          <p>Details are our specialty. Let us manage your construction projects and ensure effeciancy communicating with all trades.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-chatbubble-working"></i>
          <h4>Coordination</h4>
          <p>With our strengths in autodesk software, including Revit and Navisworks, we offer a comprehensive clash detection solution in design or construction for all trades.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-clipboard"></i>
          <h4>Data Management</h4>
          <p>We work with your team to develop a streamlined and consistent strategy to consolidate all design data and eliminate disconnected or paper-based processes.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-cube"></i>
          <h4>3D Modeling</h4>
          <p>Our 3D models bring your design concepts to life, allowing you to explore and present your vision with unparalleled clarity.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>As-Built Modeling</h4>
          <p>As-Built models serve as an accurate reflection of the real-world conditions, dimensions, and components of the structure. Our provided models are extremely valuable 
          for documentation, facility management, renovation planning, and assessing the accuracy of construction work.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-hammer"></i>
          <h4>Pre-Fabrication</h4>
          <p>Already have your system drawn? We'd be happy to assist you in bringing your building to life! From 1" condensate lines to 32" steam, our professional team of union welders and pipefitters will get the job done quickly and efficiently.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->