<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp text-white">Transforming Your Projects with <br>BIM Technologies</h1>
					<p class="animated fadeInUp text-white">Welcome to BIM Technologies, where innovation meets precision. We are dedicated to revolutionizing the construction industry through cutting-edge Building Information Modeling (BIM) solutions.</br></p>
					<a href="about.html" class="btn btn-main btn-solid-border animated fadeInUp" >Learn More</a>
				</div>
			</div>
		</div>
	</div>
</section>