<!-- Content Start -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2>Fun Facts About Us</h2>
          <p>In the near future, we will have completed at least one project in every American State!</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="counter-item">
                <i class="ion-ios-chatboxes-outline"></i>
                <h4 class="count" data-count="4">0</h4>
                <span>Average Cups Of Coffee</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="ion-ios-glasses-outline"></i>
                <h4 class="count" data-count="23">0</h4>
                <span>Terabytes of Laser Scans</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="ion-ios-compose-outline"></i>
                <h4 class="count" data-count="21">0</h4>
                <span>Projects This Year</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="ion-ios-timer-outline"></i>
                <h4 class="count" data-count="700">0</h4>
                <span>Combined Projects</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            <div>
              <i class="ion-quote"></i>
              <p>"I can't say enough about the incredible work that BIM Technologies did for our recent construction project. From the moment we engaged their services, it was clear that we were working with a team of true professionals who are masters of their craft."</p>
              <div class="user">
                <img src="images/blog/avater-1.jpg" alt="People">
                <p><span>Marty Edwards</span> CEO - M&M-Tech</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>"Throughout the entire project, the BIM Technologies team demonstrated unwavering professionalism, clear communication, and a dedication to meeting deadlines. They were always available to address our questions and concerns, making us feel like valued partners every step of the way."</p>
              <div class="user">
                <img src="images/blog/avater-2.jpg" alt="People">
                <p><span>Joshua Trek</span> CTO - K&W</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>"If you're looking for a company that delivers exceptional results, embraces innovation, and genuinely cares about your project's success, then look no further than BIM Technologies. They've earned our highest recommendation, and we look forward to working with them again on future projects."</p>
              <div class="user">
                <img src="images/blog/avater-3.jpg" alt="People">
                <p><span>Hank Stills</span> Foreman - Dominion Mid-Atlantic</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>"Their dedication to excellence and their passion for what they do shine through in every project they undertake. We're thrilled with the results they delivered and wouldn't hesitate to recommend them to anyone in need of top-tier BIM services."</p>
              <div class="user">
                <img src="images/blog/avater-4.jpg" alt="People">
                <p><span>Madison Reihna</span> PM - WESCOR</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>